{% include "header.html" %}

<div class="container">
    <h2 style="text-align: center">About this Project</h2>
    <p>
        In many educational institutions, the traditional methods of recording and managing student grades are often
        inefficient, prone to errors, and lack real-time accessibility. Teachers manually input grades into
        spreadsheets, leading to difficulties in tracking student performance, delayed feedback, and potential
        miscalculations. Additionally, students and parents have limited visibility into academic progress, which can
        hinder communication and support.
    </p>
    <p>
        The objective of this mini-project is to develop a Student Grade Management System that automates grade entry,
        provides real-time grade calculations, and offers intuitive data visualization.
    </p>
</div>

{% include "footer.html" %}