{% include "header.html" %}

<div class="container">
    <h2 style="text-align: center">Features</h2>
    <ul>
        <li class="my-2">
            <b>For Teachers:</b>
            <ol>
                <li>Search for a particular student but usn to check their grades.</li>
                <li>Easily add, edit and delete grades.</li>
                <li>Check students' report cards to check their SGPAs or their overall CGPA.</li>
            </ol>
        </li>
        <li class="my-2">
            <b>For Students:</b>
            <ol>
                <li>Check your grades of all semesters as well as any remarks from the teacher.</li>
                <li>A report card with SGPAs of all semesters as well as overall CGPA and any backlogs.</li>
            </ol>
        </li>
    </ul>
</div>

{% include "footer.html" %}