{% include "header.html" %}

<h1 style="text-align: center">Grades</h1>
<h2 style="text-align: center">{{ user.usn }}</h2>

<div>
    {% for sem in semesters %}
    <p>{{flag}}</p>
    <h3><br>Semester {{ sem }}:</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Subject Code</th>
                <th scope="col">Title</th>
                <th scope="col">Internal marks</th>
                <th scope="col">External marks</th>
                <th scope="col">Total</th>
                <th scope="col">Credits</th>
            </tr>
        </thead>
        <tbody>
            {% for sub in user.grades %}
            {% if sub.semester == sem %}
            <tr>
                <td>{{ sub.subject_code }}</td>
                <td>{{ sub.subject }}</td>
                <td>{{ sub.internal_marks }}</td>
                <td>{{ sub.external_marks }}</td>
                <td>{{ sub.internal_marks + sub.external_marks }}</td>
                <td>{{ sub.subject_credits }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>

{% include "footer.html" %}