{% include "header.html" %}

<h1 style="text-align: center">Grades</h1>
<h2 style="text-align: center">{{ user.usn }}</h2>

<div>
    {% for sem in semesters %}
    <h3><br>Semester {{ sem }}:</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Subject Code</th>
                <th scope="col">Title</th>
                <th scope="col">Internal marks</th>
                <th scope="col">External marks</th>
                <th scope="col">Total</th>
                <th scope="col">Credits</th>
                <th scope="col">Result</th>
                <th scope="col">Remarks</th>
                {% if current_user.is_authenticated and current_user.designation == 'Teacher' %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for sub in user.grades %}
            {% if sub.semester == sem %}
            <tr>
                <td>{{ sub.subject_code }}</td>
                <td>{{ sub.subject }}</td>
                <td>{{ sub.internal_marks }}</td>
                <td>{{ sub.external_marks }}</td>
                <td>{{ sub.internal_marks + sub.external_marks }}</td>
                <td>{{ sub.subject_credits }}</td>
                <td>{{ sub.is_pass }}</td>
                {% if sub.remarks is not none %}
                <td>{{ sub.remarks }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if current_user.is_authenticated and current_user.designation == 'Teacher' %}
                <td>
                    <a href="{{ url_for('edit_grade', id=sub.id) }}"><button class="btn btn-sm">✎</button></a>
                    <a href="{{ url_for('delete', id=sub.id) }}"><button class="btn btn-sm">🗑</button></a>
                </td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>

{% include "footer.html" %}